<div class="jumbotron">
  <div class="row justify-content-sm-center">
    <div class="col-sm-6">

      <div class="card">

        <div class="card-header bg-white">
          <h4 class="card-title">Create your account</h4>
        </div>

        <div class="card-block">

          <form [formGroup]="userForm" (ngSubmit)="login()">
            <div class="form-group">
              <label for="userName">User Name</label>
              <input id="userName" type="text" class="form-control" formControlName="userName" required />

            </div>            

            <div class="form-group">
              <label for="password">Password</label>

              <input type="password" id="password" class="form-control" formControlName="password" required />


            </div>

            <button type="submit" class="btn btn-info" [disabled]="!userForm.valid">Sign In</button>
          </form>
        </div>

      </div>
    </div>
  </div>