<div class="card">
  <div class="card-header">Who to follow <button type="button" (click)="refresh()" class="btn btn-outline-info btn-sm">Refresh</button></div>
  <div class="card-block">
    <div class="user-container" *ngFor="let suggestedUser of usersToSuggest">
      <div class="media">
        <img class="d-flex mr-3 rounded-circle" style="width: 35px; height: 35px;" src="assets/avatar.png" alt="image">
        <div class="media-body">
          <h6 class="mt-0">{{suggestedUser.firstName}} {{suggestedUser.lastName}} <span class="text-muted">{{suggestedUser.userName}}</span></h6>
          <button type="button flat-right" (click)="subscribe(suggestedUser.userId)" class="btn btn-outline-info btn-sm">Follow</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted text-center">View all</div>
</div>